body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#mainScreen {
	position: absolute;
	height: 100%;
	width: 80%;
	left: 0;
}

.sideScreen {
	position: absolute;
	height: 33.333%;
	width: 20%;
	right: 0;
}

#sideScreen1 {
	top: 0;
}

#sideScreen2 {
	top: 33.333%;
}

#sideScreen3 {
	top: 66.667%;
}

.expandImg {
	position: absolute;
	float: left;
	align-items: left;
	align-self: left;
	text-align: left;
	max-height: 26px;
	max-width: 26px;

	z-index: 300;
}

.expandImg:hover{
	border: : 2px solid blue; !important;
}
